* {
  padding: 0%;
  margin: 0%;
}
html {
  direction: rtl;
}
body {
  font-family: vazir;
  background-color: #53264c;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}
hr {
  margin-top: 20px;
}

/* header styles */
#header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin: 20px;
  padding: 10px 15px;
}

/* logo  */
#header .logo-link {
  line-height: 0;
}
#header .logo-link .logo-img {
  width: 60px;
}

/* header list  */
#header .navbar-list {
  display: flex;
  gap: 20px;
}

/* header sign up buttom */
#header .header-sign-up-button {
  background-color: #8b3c7f;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
}
#header .header-sign-up-button .sign-up-icon {
  margin-right: 5px;
}

/* section header style  */
section h2.section-title {
  text-align: center;
  font-size: 28px;
  color: white;
  margin: 50px 0px 30px;
}
section h2.section-title span {
  color: #f1c40f;
}
/* محصولات پرطرفدار */
#best-products {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin: 0px 40px;
  color: white;
  font-size: 16px;
  text-align: center;
  flex-wrap: wrap;
}
/* محصولات */
#best-products .product {
  background-color: #ffffff2c;
  padding: 10px;
  border-radius: 18px;
  width: 250px;
}
#best-products .product .product-img {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

#best-products .product .product-title {
  border-top: 1px solid white;
  margin-top: 3px;
  padding-top: 10px;
  margin-bottom: 5px;
}
#best-products .product .product-desc {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 10px;
}
#best-products .product .product-price {
  display: flex;
  justify-content: space-between;
}
#best-products .product .order-button {
  background: #f1c40f;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
}

/* benefits list  */
#benefits-list {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin: 0px 40px;
  color: white;
  font-size: 16px;
  text-align: center;
  flex-wrap: wrap;
}
#benefits-list .benefit-item {
  background-color: #ffffff2c;
  border-radius: 18px;
  width: 28%;
}
#benefits-list .benefit-item .benefit-icon {
  font-size: 30px;
  margin: 20px 0;
  color: #f1c40f;
}
#benefits-list .benefit-item .benefit-title {
  margin-bottom: 15px;
}
#benefits-list .benefit-item .benefit-desc {
  margin: 10px 20px 20px 20px;
}

/* testmonial styles */
#testimonial {
  display: flex;
  justify-content: space-around;
  color: white;
  gap: 20px;
  font-size: 12px;
  flex-wrap: wrap;
}
#testimonial .testimonial-item {
  display: flex;
  background-color: #ffffff2c;
  width: 38%;
  border-radius: 40px;
  padding: 20px;
  margin: 40px 40px;
}
#testimonial .testimonial-item .testimonial-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: auto 10px;
}
#testimonial .testimonial-item .testimonial-caption {
  margin: auto;
}
#testimonial .testimonial-item .testimonial-caption .testimonial-name {
  font-size: 16px;
  color: #f1c40f;
}
/* footer  */
#footer {
  display: block;
  background: #1a1a2e;
  color: aliceblue;
}
#footer .info-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding-top: 40px;
}
#footer .info-box section h3 {
  margin-bottom: 10px;
}
#footer .info-box .about-us {
  font-size: 16px;
  width: 28%;
}
#footer .info-box .contact-us {
  margin-left: 250px;
}
#footer .info-box .contact-us i {
  margin-left: 5px;
  color: #f1c40f;
}
#footer .info-box .contact-us p {
  font-size: 14px;
  display: inline;
}
/* copy right  */
#footer .footer-copyright {
  /* display: inline; */
  text-align: center;
  margin-top: 40px;
}
/* back to top button  */
#footer .back-to-top-button {
  line-height: 100px;
  background-color: #8b3c7f;
  padding: 15px 20px;
  border-radius: 15px;
}

